.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 50px;
  margin-top: 100px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
}

.input {
  width: 100%;
  display: block;
  margin: 20px 0;
}

.btn {
  border: none;
  border-radius: 3px;
  background-color: tomato;
  color: #fff;
  font-size: 18px;
  padding: 8px 25px;
  cursor: pointer;
}
