.container {
  background-color: aquamarine;
  display: flex;
  flex-wrap: wrap;
}

.box {
  flex-basis: 33.33%;

  padding: 20px;

  background-color: #fff;
  border: 1px solid #000;
}

@media (max-width: 992px) {
  .box-one,
  .box-two {
    flex-basis: 50%;
  }

  .box-three {
    flex-basis: 100%;
  }
}

@media (max-width: 576px) {
  .box-one,
  .box-two {
    flex-basis: 100%;
  }
}
