/* flex container */

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex-basis: 33.33%;
  flex-shrink: 0;
}

/*
.item-one {
  flex-shrink: 1;
}

.item-two {
  flex-shrink: 2;
  align-self: center;
}

.item-three {
  flex-shrink: 7;
  align-self: flex-end;
  flex-basis: 100px;
} */

@media (max-width: 992px) {
  .item-one,
  .item-two {
    flex-basis: 50%;
  }

  .item-three {
    flex-basis: 100%;
  }
}

@media (max-width: 576px) {
  .item-one,
  .item-two {
    flex-basis: 100%;
  }
}
